// http://paletton.com/palette.php?uid=63W0L0ko3o3hF7VkHfYpYvarVN2

$rgba-primary-0: rgba( 46, 55,132,1); // Main Primary color */
$rgba-primary-1: rgba( 23, 25, 44,1);
$rgba-primary-2: rgba( 39, 43, 88,1);
$rgba-primary-3: rgba( 51, 63,171,1);
$rgba-primary-4: rgba( 54, 70,221,1);

$rgba-secondary-1-0: rgba( 94, 37,128,1); // Main Secondary color (1) */
$rgba-secondary-1-1: rgba( 34, 20, 42,1);
$rgba-secondary-1-2: rgba( 66, 33, 85,1);
$rgba-secondary-1-3: rgba(119, 39,166,1);
$rgba-secondary-1-4: rgba(151, 38,218,1);

$rgba-secondary-2-0: rgba( 31,124,103,1); // Main Secondary color (2) */
$rgba-secondary-2-1: rgba( 18, 41, 36,1);
$rgba-secondary-2-2: rgba( 29, 82, 70,1);
$rgba-secondary-2-3: rgba( 30,160,131,1);
$rgba-secondary-2-4: rgba( 27,215,173,1);

$rgba-complement-0: rgba(192,152, 48,1); // Main Complement color */
$rgba-complement-1: rgba( 63, 54, 28,1);
$rgba-complement-2: rgba(127,105, 45,1);
$rgba-complement-3: rgba(248,194, 47,1);
$rgba-complement-4: rgba(255,195, 33,1);

$gray: #b4b4b4;
$gutter: lighten($rgba-complement-0, 40%);
$bg: lighten($rgba-complement-0, 50%);
$lexer_id: $rgba-secondary-1-4;
$parser_id: $rgba-secondary-2-3;
$keyword: $rgba-complement-0;
$comment: lighten($rgba-primary-0, 30%);
$text: $rgba-complement-1;
$grouping: darken($rgba-complement-0, 30%);
$plurality: $rgba-secondary-1-4;
$matcher: $rgba-primary-3;
$selection: darken($bg, 10%);
